html {
    background-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.wrapper {
    padding: 20px 0px 50px 0px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 280px);
    grid-template-rows: repeat(3, 280px);
    grid-column-gap: 35px;
    grid-row-gap: 35px;
}

.title {
    margin-top: 15px;
    font-size: 24px;
    text-align: center;
}

.restoreButton {
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    border: 1px solid #000000;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: #e5e5e5;
    }
    &:disabled {
        background-color: #c3c3c3c3;
        color: #000000;
        cursor: not-allowed;
    }
}

// Media

@media (max-width: 1270px) {
    .wrapper {
        grid-template-columns: repeat(3, 260px);
        grid-template-rows: repeat(4, 260px);
    }
}

@media (max-width: 900px) {
    .wrapper {
        grid-template-columns: repeat(2, 225px);
        grid-template-rows: repeat(6, 225px);
    }
}

@media (max-width: 500px) {
    .wrapper {
        grid-template-columns: repeat(1, 225px);
        grid-template-rows: repeat(12, 225px);
    }
}
