.image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.item {
    border: 5px solid rgb(100, 98, 98);
    &:hover {
        border: 5px solid rgb(202, 200, 35);
    }
    &:active {
        border: 5px solid rgb(196, 26, 26);
    }
}
