.image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 100%;
    transition: transform 0.15s ease-in-out;
}

.item {
    border: 5px solid rgb(100, 98, 98);
    background-color: rgb(100, 98, 98, 0.5);
    transition: border 0.15s ease-in-out;
    overflow: hidden;
    cursor: pointer;
    &:hover {
        border: 5px solid rgb(202, 200, 35);

        img {
            transform: rotate(45deg);
        }
    }
    &:active {
        border: 5px solid rgb(196, 26, 26);
    }
    &:nth-child(5) {
        border: 5px solid rgb(196, 26, 26);
    }
    &:nth-child(1) {
        border: 5px solid rgb(196, 26, 26);
    }
    &:nth-child(9) {
        border: 5px solid rgb(196, 26, 26);
    }
}
